#navbarSupportedContent {
    justify-content: flex-end;
}


.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}



#footer1 {
    background: #4BA6FF;
}

#footer2 {
    background: #1e90ff;
}





/*about us head*/





      